---
---

@import "{{ site.theme }}";
h1 {
  font-size : 125%;
  colour : black;
  font-family : Georgia, Helvetica, serif;
  font-style : normal;
  font-weight : bold;
}

h2 {
  font-size : 112%;
  colour : black;
  font-family : Georgia, Helvetica, serif;
  font-style : normal;
  font-weight : bold;
}

h3 {
  font-size : 100%;
  colour : black;
  font-family : Georgia, Helvetica, serif;
  font-style : normal;
  font-weight : bold;
}

h4 {
  font-size : 87%;
  colour : black;
  font-family : Georgia, Helvetica, serif;
  font-style : normal;
  font-weight : normal;
}

p {
  font-size : 75%;
  colour : black;
  font-family : Georgia, Helvetica, serif;
  font-style : normal;
  font-weight : normal;
}

a:link {
  colour: #0000ff;
  text-decoration: none;
}

a:visited {
  colour: #330033;
  text-decoration: none;
}

a:hover {
  colour: #0000ff;
  text-decoration: underline;
}

a:active {
  colour: #ff0000;
  text-decoration: none;
}

body {
  background-image:
  url("https://www.flickr.com/photos/141761487@N07/31220525977/in/dateposted/");
  background-size: width 100%, height 1080px;
  background-colour: white;
  background-position: left top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#header {
  background-colour: black;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

#navbar {
  background-colour: black;
  height:5%;
  width: 100%;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  text-align: center;
  text-colour: white;
  position: fixed;
}

#content {
  background-colour: white;
  height: 200px;
  width: 412px;
  float: left;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

#highlights {
  background-colour: white;
  height: 200px;
  width: 100px;
  float: left;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

#footer {
  background-colour: white;
  height: 10%;
  width: 100%;
  clear: both;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

li {
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
